@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans",sans-serif;
}


body{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #c1ffd8;
}

.title{
  text-align: center;
  margin-bottom: 30px;
}

hr{
  margin-bottom: 30px;
}


.quiz-app{
  background-color:#3ae374 ;
  width: 600px;
  padding: 20px;  
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}

.question-section{
  text-align: center;
}

.question-section h2{
  margin-bottom: 10px;
}

.question-section p{
  font-weight: 600;
}

.options{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

button{
  padding: 10px 20px;
  border-radius: 30px;
  background-color:#fff;
  border: none;
  cursor: pointer;  
  color: black;
  font-size: 15px;
  transition: background-color 0.3s ease-in-out;
  
}

button:hover{
  background-color: rgb(214, 255, 226);
}

.timer{
  margin-top: 20px;
  color: #333;
}

.timer span{
  font-weight: 600;
}

.score-section{
  text-align: center;
}

.score-section button{
  margin: 10px 0px;
  background-color: tomato;
}